<%= content_tag :span,
      class:"badge badge-default",
      id:badge_id(list.name.downcase, "list_items") do %>
  <%= list.size %>
<% end %>
<%= accordion_link("#{list.row_id}_request",
        "request") {list.member.name} %>
<div id="<%= list.row_id %>_request" class="collapse" role="tabpanel">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11">
      <%= render 'list_items/list_items', list:list %>
    </div>
  </div>
</div>
