<% if new_message? %>
  <div class='form-group row'>
    <div class="col-4 text-center">
      <%= f.label :recipient_id,
            "To:",
            class:'col-form-label' %>
    </div>
    <div class='col-8'>
      <%= f.collection_select(:recipient_id,
            members_minus_self,
            :id,
            :first_name,
            {prompt:'Select Member'},
            {class:'custom-select form-control-sm',
            id:'new_message_recipient_id'}) %>
    </div>
  </div>
<% else %>
  <%= f.hidden_field :recipient_id,
        value: message.sender_id %>
<% end %>
<div class='form-group row text-center'>
  <div class="col-4">
    <%= f.label :subject,
          class:'col-form-label' %>
  </div>
  <div class='col-8'>
    <%= f.text_field :subject,
          class:'form-control form-control-sm',
          value:subject_value(message),
          placeholder:"Subject",
          id:"new_message_subject" %>
  </div>
</div>
<div class='form-group row text-center'>
  <div class="col-4">
    <%= f.label :body,
          "Message",
          class:'col-form-label' %>
  </div>
  <div class='col-8'>
    <%= f.text_area :body,
          placeholder:"Message",
          class:'form-control form-control-sm',
          id:'new_message_body' %>
  </div>
  <%= f.hidden_field :sender_id,
        value: current_member.id %>
</div>
