<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :stock,
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.number_field :stock,
          placeholder:"Stock",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :threshold,
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.number_field :threshold,
          placeholder:'Reorder Threshold',
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class='form-group row'>
  <div class="col-4 text-center">
    <%= f.label :room_id,
          "For:",
          class: 'col-form-label' %>
  </div>
  <div class='col-8'>
    <%= f.collection_select(:room_id,
          current_household.rooms.unowned,
          :id,
          :name,
          {prompt:'Select Room'},
          {class:'custom-select form-control-sm'}) %>
  </div>
</div>
