<span id="<%= badge_id(room.scope, "room_items") %>" class="badge badge-default">
  <%= restock_count(room.room_items) if admin? %>
</span>
<%= accordion_link("#{room.row_id}_inventory", "inventory") {room.name} %>
<div id="<%= room.row_id %>_inventory" class="collapse" role="tabpanel">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11">
      <table class='table table-sm table-hover'>
        <thead>
          <tr>
            <th class='tbl-col-1'></th>
            <th class='tbl-col-5'>Name</th>
            <th class='tbl-col-3'>Stock</th>
            <th class='tbl-col-3'>Threshold</th>
          </tr>
        </thead>
        <%= content_tag :tbody,
              id:tbody_id(room.scope, "room_items") do %>
          <%= render partial:'room_items/room_item_tr',
                collection:room.room_items,
                as: :room_item,
                locals:{addee:room} %>
        <% end %>
      </table>
    </div>
  </div>
</div>
