<%= content_for :header do %>
  Member Sign-in
<% end %>

<%= content_for :body_footer do %>
  <div class="modal-body">
    <div class="text-center mr-4">
      <%= form_tag login_path,
            id:'login_form',
            remote:true do %>
        <%= render "sessions/form" %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
    <%= content_tag :div,
          id:"login_errors",
          class:errors do %>
    <% end %>
    <%= submit_tag "Sign-in",
          class:'btn btn-sm btn-outline-secondary text-dark',
          form:'login_form' %>
  </div>
<% end %>
