<%= content_for :header do %>
  <%= date.day %>
<% end %>

<%= content_for :body_footer do %>
  <% if events %>
    <div class="modal-body">
      <div class='lg-font mx-auto day-cell-zoomed'>
        <div class="row">
          <div class="text-center col-6 pr-0">
            <span class='h4 bg-warning d-block'>Chores</span>
          </div>
          <div class="text-center col-6 pl-0">
            <span class='h4 bg-danger text-light d-block'>Bills</span><br>
          </div>
        </div>
        <div class="row">
          <div class="col-6 pr-4 pl-4">
            <% if chores %>
              <% chores.group_by(&:member).each do |member, chores| %>
                <dl>
                  <dt>
                    <%= member.name %>
                  </dt>
                  <% chores.each do |chore| %>
                    <dd class='circle mb-0 pl-4 small'>
                      <%= chore.task %>
                    </dd>
                  <% end %>
                </dl>
              <% end %>
            <% end %>
          </div>
          <div class="col-6 pr-4 pl-4">
            <% if bills %>
              <% bills.each do |bill| %>
                <dl>
                  <dt>
                    <%= bill.utility %>
                  </dt>
                    <dd class='mb-0 pl-4 small'>
                      <%= bill.company %> <%= paid_or_overdue(bill) %>
                    </dd>
                </dl>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
