<div class="row">
  <div class="col-2 text-left">
    <span class="small text-left bg-danger text-light p-1">Bills</span>
    <span class="small text-left bg-warning p-1">Chores</span>
  </div>
  <div class="col-8 text-center">
    <div class="">
      <%= link_to [current_household, :control, date:@date - 1.month],
        class:"btn btn-default font-blk" do
        %>
        <i class="glyphicon glyphicon-backward"><</i>
      <% end %>
      <%= "#{@date.strftime("%b")} #{@date.year}" %>
      <%= link_to [current_household, :control, date:@date + 1.month],
        class: "btn btn-sm font-blk" do
        %>
        <i class="glyphicon glyphicon-forward">></i>
      <% end %>
    </div>
  </div>
  <div class="col-2 text-right">
    <%= link_to "Today",
      [current_household, :control, date: Date.today],
      class:"btn btn-sm text-success small"
      %>
  </div>
</div>
<div class="row">
  <div class="col-12 p-0 m-0">
    <%= calendar @date do |date| %>
      <% if @events[date] %>
        <%= link_to date.day,
          [current_household, :calendar, date:date],
          data:
            {toggle:'modal',
             target:"#day_#{date.to_s}"
            },
          class:'btn btn-sm btn-block text-left font-blk'
          %>
          <% @events[date].each do |event| %>
            <%= display_event(event) %>
          <% end %>
        <%= render 'calendar/day',
          events:@events,
          bills:bill_events(date),
          chores:chore_events(date),
          date:date
          %>
      <% else %>
        <%= date.day %>
      <% end %>
    <% end %>
  </div>
</div>
