<p>
  Hello, <%= @invitee.name %>!
</p>

<dl>
  <dt>
    <strong>
      Hello, <%= @invitee.name %>!
    </strong>
  </dt>
  <dl>
    You have been invited by <%= @member.first_name %> to join the <%= @member.household.name %> household.
    <%= link_to "Click here", @url %> and use <code>code:<%= @invitee.password %></code> to signup!
  </dl>
</dl>
