<%= form_header(obj) %>

<%= content_for :body_footer do %>
  <div class="modal-body">
    <div class="mr-4">
      <%= form_for dialog_form_path(obj),
            remote:true do |f| %>
        <%= item_form(f) %>
        <%= form_render(f) %>
    </div>
  </div>
  <div class="modal-footer">
    <%= form_error_div(obj) %>
      <%= mark_bill_as_paid_btn(obj) %>
      <%= dialog_submit_btn(f) %>
    <% end %>
  </div>
<% end %>
