<td>
  <%= remove_btn(current_household, bill) %>
</td>
<td>
  <span title='Edit'>
    <%= link_to bill.company,
      edit_household_bill_path(current_household, bill),
      remote:true,
      class:link%>
  </span>
</td>
<td>
  <%= bill.utility %>
</td>
<td>
  <%= number_to_currency(bill.amount) %>
</td>
<td>
  <%= bill.due_date %>
</td>
