<%= content_tag :span,
      class:badge_color(scope),
      id:badge_id(scope, "bills") do %>
  <%= bills.send(scope).count %>
<% end %>
<%= accordion_link("#{scope.to_s}_bills",
        "bill") {scope_title} %>
        <small id="over-due-bills-amount" class='text-danger small'>
          <%= "#{over_due_expenses}" if scope == :over_due %>
        </small>
<%= content_tag :div,
      id:"#{scope.to_s}_bills",
      class:"collapse",
      role:"tabpanel" do %>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11">
      <table class='table table-sm table-hover'>
        <thead>
          <tr>
            <th class='tbl-col-1'></th>
            <th class='tbl-col-5'>Company</th>
            <th class='tbl-col-2'>Utility</th>
            <th class='tbl-col-2'>Amount</th>
            <th class='tbl-col-2'>Due</th>
          </tr>
        </thead>
        <%= content_tag :tbody,
              id:tbody_id(scope, "bills") do %>
          <%= render partial:'bills/bills_tr',
                collection:bills,
                as: :bill,
                locals:{scope:scope} %>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
