<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :company,
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.text_field :company,
          placeholder:'Company',
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :utility,
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.text_field :utility,
          placeholder:'Utility',
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :amount,
          class:'col-form-label' %>
  </div>
  <div class="input-group col-8">
    <div class='input-group-addon'>
      $
    </div>
      <%= f.number_field :amount,
            placeholder:'Amount',
            class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :account_number, "Account#",
          class:'col-form-label' %>
  </div>
  <div class="col-8">
    <%= f.number_field :account_number,
          placeholder:'Account No. (optional)',
          class:'form-control form-control-sm' %>
  </div>
</div>
<div class='form-group form-inline row'>
  <div class="col-4">
    <%= f.label :due_date, 'Due',
          class:'text-center col-form-label' %>
  </div>
  <div class='col-8'>
    <%= content_tag :div,
          id:"bill_due_date" do %>
      <%= f.date_select :due_date,
            { use_two_digit_numbers:true,
              start_year:Date.today.year,
              end_year:Date.today.year + 1,
              order: [:month, :day, :year],
              prompt:{
                year:'Yr',
                month:'Mo',
                day:'Day'
              }
            },
              {class:'form-control form-control-sm'} %>
    <% end %>
  </div>
</div>
