<div class="modal fade" id="edit_room_<%= room.id %>" tabindex="-1" role="dialog" aria-labelledby="edit_room_<%= room.id %>_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit_room_<%= room.id %>_title">
          Edit <%= room.owned_name %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for room,
          url:[current_household, room] do |f|
          %>
          <%= render 'rooms/form', f:f %>
      </div>
      <div class="modal-footer">
          <%= link_to "Delete",
            [current_household, room],
            class:'btn btn-sm btn-outline-secondary text-danger',
            method:'delete',
            data:{confirm:"Delete room?"}
            %>
          <%= f.submit "Update",
            class:'btn btn-sm btn-outline-secondary text-dark'
            %>
        <% end %>
      </div>
    </div>
  </div>
</div>
