<div class='row'>
  <div class="col-2">
  </div>
  <div class="col-4 text-center">
    <u>
      Community
    </u>
  </div>
  <div class="col-4 text-center">
    <u>
      Bedrooms
    </u>
  </div>
  <div class="col-2 text-right">
    <%= link_to "Add Room",
      'add_room',
      data:{toggle:'modal',
            target:'#new_room'},
      class:'btn btn-sm text-info ml-2'
      %>
    <%= render 'rooms/new' %>
  </div>
</div>
<div class='row'>
  <div class="col-2">
  </div>
  <div class='col-4 text-center'>
    <% current_household.rooms.unowned.each do |room| %>
      <%= link_to room.name,
        "edit_room_#{room.id}",
        data:{toggle:'modal',
              target:"#edit_room_#{room.id}"
              },
        class:'btn btn-sm text-info ml-2'
        %>
        <%= render 'rooms/edit', room:room %>
    <% end %>
  </div>
  <div class='col-4 text-center'>
    <% current_household.rooms.owned.each do |room| %>
      <small>
        <%= room.member.name %>
      </small>
    <% end %>
  </div>
  <div class="col-2">
  </div>
</div>
