<tr>
  <td>
    <% if household_partial? %>
      <span title='Click to Remove'>
        <%= link_to item.name, list_item_path(item.list_item(list)), class:'btn btn-sm text-info', method: 'delete', 'data-confirm'=>"Is this item purchased?" %>
      </span>
    <% else %>
      <span title='Click to Edit'>
        <%= link_to item.name, list_item_path(item), data:{ toggle:'modal', target:"#edit_item_#{item.id}" }, class:'btn btn-sm text-info' %>
      </span>
      <%= render 'modals/edit_item', {list_item:item.list_item(current_member.list), item:item} %>
    </td>
  <% end %>
  <td>
    <%= item.list_item(list).brand %>
  </td>
  <td>
    <%= item.list_item(list).info %>
  </td>
  <td>
    <%= item.list_item(list).quantity %>
  </td>
</tr>
