<tr>
  <%= content_tag(:td) do %>
    <% if household_partial? %>
      <span title='Click to Remove'>
        <%= link_to item.name, item_path(item), class:'btn btn-sm nav-link text-left', method: 'delete' %>
      </span>
    <% else %>
      <span title='Click to Edit'>
        <%= link_to item.name, edit_item_path(item), data:{ toggle:'modal', target:"#edit_item_#{item.id}" }, class:'btn btn-sm' %>
      </span>
    <% end %>
  <% end %>
  <%= content_tag(:td, class:"#{'strikeout' if chore.completed}") do %>
    <%= chore.member.name %>
  <% end %>
  <%= content_tag(:td, class:"col-2 #{'strikeout' if chore.completed}") do %>
    <%= item.list_item.quantity %>
  <% end %>

  <%= render 'modals/edit_chore', chore: chore %>
</tr>
