<div class="modal fade" id="add_item" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          Add Item
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for list_item do |f| %>
        <div class="modal-body">
          <%= f.fields_for :item_attributes do |m| %>
            <%= m.label :name %>
            <%= m.text_field :name, list:'item_name_autocomplete' %><br>
            <datalist id='item_name_autocomplete'>
              <% @items.each do |item| %>
                <option value="<%= item.name %>"></option>
              <% end %>
            </datalist>
          <% end %>
          <%= render 'list_items/form', f:f %>
         </div>
        <div class="modal-footer">
          <%= f.submit "Add" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
