<div class="modal fade" id="day_<%= date.to_s %>" tabindex="-1" role="dialog" aria-labelledby="day_title_<%= date.to_s %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="day_title_<%= date.to_s %>">
          <strong>
            <%= date.day %>
          </strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% if events %>
        <div class="modal-body">
          <div class='lg-font mx-auto day-cell-zoomed'>
            <div class="row">
              <div class="text-center col-6">
                <u class='h4 mark'>Chores</u>
              </div>
              <div class="text-center col-6">
                <u class='h4 bg-warning'>Bills</u><br>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <% chores.group_by(&:member).each do |chore| %>
                  <dl>
                    <dt>
                      <%= chore.first.name %>
                    </dt>
                    <% chore.second.each do |ch| %>
                      <dd class='mb-0 pl-4 small'>
                        <%= ch.task %>
                      </dd>
                    <% end %>
                  </dl>
                <% end %>
              </div>
              <div class="col-6">
                <% bills.each do |bill| %>
                  <dl>
                    <dt>
                      <%= bill.utility %>
                    </dt>
                      <dd class='mb-0 pl-4 small'>
                        <%= bill.company %>
                        <%= " / #{bill.account_number}" if bill.account_number %>
                      </dd>
                      <dd class='mb-0 pl-4 small'>
                        <%= number_to_currency(bill.amount) %>
                      </dd>
                  </dl>
                <% end %>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <% if bills %>
            <strong class='sm-font'>
              Total:
            </strong>
            <span>
              <%= number_to_currency(bill_sum(date)) %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
