<div class="modal fade" id="edit_item_<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          Edit <%= item.name %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for list_item do |f|
        %>
        <div class="modal-body">
          <%= render 'list_items/form', f:f %>
        </div>
        <div class="modal-footer">
          <%= link_to "Delete", list_item_path(list_item), class:'btn btn-sm btn-danger', method: 'delete', params:{list_item:list_item.id} %>
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
