<div class="modal fade" id="show_message_<%= message.id %>" tabindex="-1" role="dialog" aria-labelledby="show_message_title_<%= message.id %>" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="show_message_title_<%= message.id %>">
          <small>
            From:
          </small>
          <strong>
            <%= message.sender.name %>
          </strong>
          <br>
          <small>
            Subject: <%= message.subject %>
          </small>
        </h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body card-footer">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-10">
            <%= message.body %>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <a class="btn btn-sm btn-secondary mr-auto" data-toggle="collapse" href="#reply" aria-expanded="false" aria-controls="reply">
        Reply
      </a>
      <%= link_to "Delete",
        member_message_path(current_member, message),
        class:'btn btn-sm btn-secondary text-danger',
        method:'delete',
        data:{confirm:"Delete message?"}
        %>
      </div>
      <div class="collapse" id="reply">
        <div class="card card-block">
            <%= form_for [current_member, @message] do |f| %>
              <div class='form-group row'>
                <%= f.label :subject,
                  class:'text-center col-sm-3 col-form-label'
                  %>
                <div class='col-sm-9'>
                  <%= f.text_field :subject,
                    class:'form-control form-control-sm',
                    value:"Re:#{message.subject}"
                    %>
                </div>
              </div>
              <div class='form-group row'>
                <%= f.label :body,
                  "Message",
                  class:'text-center col-sm-3 col-form-label'
                  %>
                <div class='col-sm-9'>
                  <%= f.text_area :body,
                    placeholder: "Message",
                    class:'form-control form-control-sm'
                    %>
                </div>
                <%= f.hidden_field :recipient_id,
                  value: message.sender.id
                  %>
                <%= f.hidden_field :sender_id,
                  value: current_member.id
                  %>
              </div>
                  <div class='mr-auto'>
                    <br>
                  <%= f.submit "Send",
                    class:'btn btn-sm btn-secondary'
                    %>
                  </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
