<div id="#Accordion_<%= scope.to_s %>" data-children=".item">
  <div class="item">
    <span class="badge badge-default">
      <%= chores.send(scope).count %>
    </span>
    <a  class='btn btn-sm' data-toggle="collapse" data-parent="#Accordion_<%= scope.to_s %>" href="#<%= scope.to_s %>" aria-expanded="true" aria-controls="<%= scope.to_s %>">
      <%= scope_title %>
    </a>
    <div id="<%= scope.to_s %>" class="collapse" role="tabpanel">
      <% if scope_title == "Completed" %>
      <div class="row">
      <div class="col-1">
      </div>
      <div class="col-11">
        <%= link_to "Clear Completed", clear_chores_path,
        method: :delete,
        data:{confirm: "Clear all completed chores?" },
        class:'btn btn-sm',
        params:{scope:scope}
          %>
      </div>
    </div>
      <% end %>
      <div class="row">
        <div class="col">
        </div>
        <div class="col-11">
          <table class='table table-sm table-hover'>
            <thead>
              <tr>
                <% if household_partial? %>
                  <th scope='col-8'>Task</th>
                  <th scope='col-2'>Member</th>
                  <th scope='col-2'>Due</th>
                <% else %>
                  <th scope='col-10'>Task</th>
                  <th scope='col-2'>Due</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <%= render chores.send(scope) %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
