<%= content_tag :span,
  class:badge_color(scope),
  id:"#{scope.to_s}_chores_badge" do %>
  <%= chores.count %>
<% end %>
<a class='btn btn-sm text-info' data-toggle="collapse" data-parent="#accordion-chore" href="#<%= scope.to_s %>_chores" aria-expanded="true" aria-controls="<%= scope.to_s %>_chores">
  <%= scope_title %>
</a>
<div id="<%= scope.to_s %>_chores" class="collapse" role="tabpanel">
  <% if scope_title == "Completed" && admin? %>
    <div class="row pt-2">
      <div class="col-1">
      </div>
      <div class="col-11">
        <%= link_to "Clear Completed", clear_chores_path,
          method: :delete,
          data:{confirm:"<div class='text-center h5 pt-3'>Clear all completed chores?</div>"},
          class:btn,
          remote:true %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-11">
      <table class='table table-sm table-hover'>
        <thead>
          <tr>
            <% if admin? %>
              <th class='tbl-col-1'></th>
              <th class='tbl-col-7'>Task</th>
              <th class='tbl-col-2'>Member</th>
              <th class='tbl-col-2'>Due</th>
            <% else %>
              <th class='tbl-col-9'>Task</th>
              <th class='tbl-col-3'>Due</th>
            <% end %>
          </tr>
        </thead>
        <%= content_tag :tbody,
          id:"chores_#{scope.to_s}_tbody" do %>
          <%= render partial:'chores/chores_tr',
            collection:chores,
            as: :chore,
            locals:{scope:scope} %>
        <% end %>
      </table>
    </div>
  </div>
</div>
