<tr>
  <td class="<%= 'strikeout' if chore.completed %>">
    <% if household_partial? %>
      <span title='Click to Edit'>
        <%= link_to chore.task,
          edit_household_chore_path(current_household, chore),
          data:{
            toggle:'modal',
            target:"#edit_modal_#{chore.id}"},
          class:'btn btn-sm text-info'
          %>
      </span>
    <% else %>
      <span title='Click to Complete'>
        <%= link_to chore.task, complete_chores_path(chore),
          class:'btn btn-sm text-info',
          method: 'patch'
          %>
      </span>
    <% end %>
  </td>
  <% if household_partial? %>
    <td class="<%= 'strikeout' if chore.completed %>">
      <%= chore.member.name %>
    </td>
  <% end %>
  <td class="<%= 'strikeout' if chore.completed %>">
    <%= chore.due_date %>
  </td>
  <%= render 'modals/edit_chore', chore: chore %>
</tr>
