<div class='form-group row'>
  <%= f.label :member_id,
        class: 'text-center col-4 col-form-label' %>
  <div class='col-8'>
    <%= f.collection_select(:member_id,
          current_household.members,
          :id,
          :first_name,
          {prompt:'Select Member'},
          {class:'custom-select form-control-sm'}) %>
  </div>
</div>

<div class='form-group form-inline row'>
  <%= f.label :due_date,
        'Due',
        class:'col-4 col-form-label' %>
  <div class='col-8'>
    <%= content_tag :div,
          id:"chore_due_date" do %>
      <%= f.date_select :due_date,
            { use_two_digit_numbers:true,
              start_year:Date.today.year,
              end_year:Date.today.year + 1,
              order: [:year, :month, :day],
              prompt:{ year:'Yr',
                      month:'Mo',
                      day:'Day'
                      }
                    },
              {class:'form-control form-control-sm'} %>
    <% end %>
  </div>
</div>

<div class='form-group row'>
  <%= f.label :task,
        class:'text-center col-4 col-form-label' %>
  <div class='col-8'>
    <%= f.text_area :task,
     placeholder: "Task",
     class:'form-control form-control-sm' %>
  </div>
</div>
