<!DOCTYPE html>
<html>
<head>
  <title>HouseholdManagement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? && current_household %>
    <%= render 'layouts/main' %>
  <% else %>
    <%= yield %>
  <% end %>
  <div id="modal">
    <div id="modal-info">

    </div>
    <div id="modal-dialog">

    </div>
  </div>
</body>
</html>
