<p>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#chores" aria-expanded="false" aria-controls="collapseExample">
    Chores
  </a>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#room"  aria-expanded="false" aria-controls="collapseExample">
    <%= member.plural %> <%= member.room.try(:name) %>
  </a>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#member"  aria-expanded="false" aria-controls="collapseExample">
    Inbox
  </a>
</p>
<div class="collapse" id="chores">
  <div class="card card-block">
    <% Chore.scopes.each do |scope, chore| %>
      <%= render 'chores/chore_scope', {chore: chore, scope: scope, chores: current_member.chores} %>
    <% end %>
  </div>
</div>
<div class="collapse" id="room">
  <div class="card card-block">
    <table class='table table-sm table-hover'>
      <thead>
        <h5><strong>Household Needs</strong><small> - <%= link_to "Edit", edit_list_path(member.room.list) %></small></h5>
        <tr>
          <th>Item</th>
          <th>Information</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <%= render @member.room.list  %>
      </tbody>
    </table>
  </div>
</div>
<div class="collapse" id="member">
  <div class="card card-block">
    <table class='table table-sm table-hover'>
      <thead>
        <h5>
          <strong>Notes/Personal Requests</strong> -
          <small><%= link_to "New", new_member_message_path(current_member) %> |
                 <%= link_to "Sent", "/member/messages/sent" %></small>

        </h5>
        <tr>
          <th class='col-3'>Sent</th>
          <th>Subject</th>
          <th class='col-2'>Sender</th>
        </tr>
      </thead>
      <tbody>
        <%= render current_member.recieved_messages.first(5) %>
      </tbody>
    </table>
  </div>
</div>
