<div class="member-item">
  <a  class='btn btn-sm text-info' data-toggle="collapse" data-parent="#accordion_member" href="#member_<%= member.id %>" aria-expanded="true" aria-controls="member_<%= member.id %>">
    <%= member.name %>
  </a>
  <div id="member_<%= member.id %>" class="collapse" role="tabpanel">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-10">
        <%= form_for [current_household, member] do |f| %>
          <%= render 'members/form', f: f %>
          <div class="form-check row">
            <div class="col-9">
              <%= f.check_box :head_of_household,
                class:'form-check-input'
                %>
              <%= f.label :head_of_household,
                "Head of Household?",
                class:'form-check-label'
                %>
            </div>
          </div>
          <br>
          <%= f.submit "Update",
            class:'btn btn-sm btn-outline-secondary text-dark'
            %>
          <%= link_to "Delete",
            [current_household, member],
            class:'btn btn-sm btn-outline-secondary text-danger',
            method:'delete',
            data:{confirm:"Delete member?"}
            %>
        <% end %>
        <br>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
