<p class='text-center'>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#chores" aria-expanded="false" aria-controls="chores">
    Chores
  </a>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#list"  aria-expanded="false" aria-controls="list">
    Peronal Requests
  </a>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#inbox"  aria-expanded="false" aria-controls="inbox">
    Inbox
  </a>
  <a class="btn btn-sm btn-secondary" data-toggle="collapse" href="#inventory"  aria-expanded="false" aria-controls="inventory">
    Inventory
  </a>
</p>

<div class="collapse show" id="chores">
  <div class="card card-block">
    <% Chore.scopes.each do |scope, scope_title| %>
      <%= render 'chores/chores',
        { scope_title: scope_title,
          scope: scope,
          chores: @chores
         }
         %>
    <% end %>
  </div>
</div>
<div class="collapse" id="list">
  <div class="card card-block">
    <% content_for :add_item do %>
      <h5>
        <strong>
          Household/Member Needs
        </strong>
        <small>
          <%= link_to "Add", add_item_path,
            data:
              {toggle:'modal',
               target:"#add_item"
                },
            class:'btn btn-sm'
            %>
         </small>
       </h5>
       <%= render 'modals/add_item', list_item:@list_item %>
     <% end %>
     <%= render 'lists/list', member:current_member %>
  </div>
</div>
<div class="collapse" id="inbox">
  <div class="card card-block">
    <%= render 'messages/messages', message:@message %>
  </div>
</div>
