<div id='member-show' data-children='.link'>
  <div class='text-center'>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#member-show' data-toggle="collapse" href="#chores" aria-expanded="false" aria-controls="chores">
      Chores
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#member-show' data-toggle="collapse" href="#requests"  aria-expanded="false" aria-controls="list">
      Requests
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#member-show' data-toggle="collapse" href="#inbox"  aria-expanded="false" aria-controls="inbox">
      Inbox
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#member-show' data-toggle="collapse" href="#inventory"  aria-expanded="false" aria-controls="inventory">
      Inventory
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#member-show' data-toggle="collapse" href="#profile"  aria-expanded="false" aria-controls="profile">
      Profile
    </a>
  </div><br>
  <div class='link'>
    <div class="collapse <%= 'show' unless selected_tab %>" id="chores">
      <div class="card card-block p-3">
        <span class='card-title'>
          <u class='lg-font'>
            Chores
          </u>
          <span class="pb-2">
            <%= link_to "Refresh",
              member_chores_reload_path(current_member),
              remote:true,
              class:btn %>
          </span>
        </span>
        <div id="accordion-chore" data-children=".chore-item">
          <% Chore.scopes.each do |scope, scope_title| %>
            <%= content_tag :div,
              class:'chore_item',
              id:"#{scope.to_s}_chores_collapse" do %>
              <%= render 'chores/chores',
                {scope_title: scope_title,
                 scope: scope,
                 chores: @chores.send(scope)} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("requests") %>" id="requests">
      <div class="card card-block p-3">
          <span class='card-title'>
            <u class='lg-font'>
              Requests
            </u>
            <span class='pb-2'>
              <%= link_to "Add",
                new_member_list_item_path(current_member),
                remote:true,
                class:btn %>
             </span>
           </span>
         <div>
           <%= render 'list_items/list_items',
             list:current_member.list %>
         </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("inbox") %>" id="inbox">
      <div class="card card-block p-3">
        <span class='card-title'>
          <u class='lg-font'>
            Inbox
          </u>
          <span class="pb-2">
            <%= link_to "New",
              new_member_message_path(current_member),
              remote:true,
              class:btn %>
            <%= link_to "Check Messages",
              [current_member, :check, :messages],
              remote:true,
              class:btn %>
            <span class='text-success small pl-2' id='message_confirmation'>
            </span>
          </span>
        </span>
        <div>
          <%= render 'messages/messages' %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("inventory") %>" id="inventory">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Inventory
          </u>
          <span class='text-success small pl-2' id='inventory_request'>
          </span>
          <span class='text-danger small pl-2' id='undo_request'>
          </span>
        </span>
        <div id="accordion_inventory" data-children=".room-item">
          <%= render partial:'room_items/room_items_div',
            collection:current_household.rooms.unowned,
            as: :room %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("profile") %>" id="profile">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Profile
          </u>
        </span>
        <div id="accordion_profile">
          <%= content_tag :div,
            class:"#{current_member.row_id} member_edit",
            id:"reload_#{current_member.row_id}" do %>
              <%= render 'members/member',
                member:current_member,
                collapse:true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
