<span class="card-title">
  <u class='lg-font'>
    Household
  </u>
  <span class='pb-2'>
    <%= link_to "Edit",
      edit_household_path(current_household),
      remote:true,
      class:btn %>
    <%= menu_link("household", "Rooms") %>
    <small class='text-muted small pl-2'>
      Monthly Income: <strong><%= household_income %></strong>
    </small>
  </span>
</span>

<div class='room-tab pb-2'>
  <div class="collapse border border-left-0 border-right-0" id='rooms'>
    <div id='reload_rooms' class="card-block p-3">
      <%= render 'rooms/rooms' %>
    </div>
  </div>
</div>
<div class='d-inline text-muted pl-3'>
  ID#: <%= current_household.id %>
</div>
<%= content_tag :div,
  id:'edit_household' do %>
  <%= render 'households/household',
    household:current_household %>
<% end %>
<%= household_destroy_btn %>
