<span class="card-title">
  <u class='lg-font'>
    Household
  </u>
  <span class='pb-2'>
    <%= link_to "Edit",
      edit_household_path(current_household),
      remote:true,
      class:btn %>
    <a class="btn btn-sm btn-outline-secondary text-dark ml-2" data-parent='#household' data-toggle="collapse" href="#rooms" aria-expanded="false" aria-controls="rooms">
      Rooms
    </a>
  </span>
</span>

<div class='room-tab pb-2'>
  <div class="collapse border border-left-0 border-right-0" id='rooms'>
    <div id='reload_rooms' class="card-block p-3">
      <%= render 'rooms/rooms' %>
    </div>
  </div>
</div>

<div class='d-inline text-muted pl-3'>
  ID#: <%= current_household.id %>
</div>
<%= content_tag :div,
  id:'edit_household' do %>
  <%= render 'households/household',
    household:current_household %>
<% end %>
