<div class='form-group row text-center'>
  <div class="col-4">
    <%= f.label :name,
          "Name",
          class:"col-form-label" %>
  </div>
  <div class='col-8'>
    <%= f.text_field :name,
          placeholder: "Name",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :address1,
          "Address 1",
          class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.text_field :address1,
          placeholder: "Address 1",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :address2,
          "Address 2",
          class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.text_field :address2,
          placeholder: "Address 2",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :city,
          "City",
          class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.text_field :city,
          placeholder: "City",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :state,
          "State",
          class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.text_field :state,
          placeholder: "State",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :zip_code,
        "Zip Code",
        class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.number_field :zip_code,
          placeholder: "Zip Code",
          class:'form-control form-control-sm' %>
  </div>
</div>

<div class="form-group row text-center">
  <div class="col-4">
    <%= f.label :password,
          "Password",
          class:"col-form-label" %>
  </div>
  <div class="col-8">
    <%= f.password_field :password,
          placeholder:"Password",
          class:'form-control form-control-sm',
          aria:{describedby:"passwordHelpBlock"} %>
    <small id='passwordHelpBlock' class='form-text text-muted'>
      <% if f.object.persisted? %>
        Leave password field blank unless changing password.
      <% else %>
        This password will be used to invite new members to your household.
      <% end %>
    </small>
  </div>
</div>
