<div class='form-group row'>
  <%= f.label :name,
    "Name",
    class:"col-4 col-form-label text-center" %>
  <div class='col-8'>
    <%= f.text_field :name,
      placeholder: "Name",
      class:'form-control form-control-sm',
      id:f.object.id_name(:name) %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :address1,
    "Address 1",
    class:"col-4 col-form-label text-center" %>
  <div class="col-8">
    <%= f.text_field :address1,
      placeholder: "Address 1",
      class:'form-control form-control-sm',
      id:f.object.id_name(:address1) %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :address2,
    "Address 2",
    class:"col-4 col-form-label text-center" %>
  <div class="col-8">
    <%= f.text_field :address2,
      placeholder: "Address 2",
      class:'form-control form-control-sm',
      id:f.object.id_name(:address2) %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :city,
    "City",
    class:"col-4 col-form-label text-center" %>
  <div class="col-8">
    <%= f.text_field :city,
      placeholder: "City",
      class:'form-control form-control-sm',
      id:f.object.id_name(:city) %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :state,
    "State",
    class:"col-4 col-form-label text-center" %>
  <div class="col-8">
    <%= f.text_field :state,
      placeholder: "State",
      class:'form-control form-control-sm',
      id:f.object.id_name(:state) %>
  </div>
</div>

<div class="form-group row">
  <%= f.label :zip_code,
    "Zip Code",
    class:"col-4 col-form-label text-center" %>
  <div class="col-8">
    <%= f.number_field :zip_code,
      placeholder: "Zip Code",
      class:'form-control form-control-sm',
      id:f.object.id_name(:zip_code) %>
  </div>
</div>
