<div class="row">
  <div class="col-1">
  </div>
  <div class="col-9">
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>Name:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.name %>
      </div>
    </div>
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>Address1:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.address1 %>
      </div>
    </div>
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>Address2:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.address2 %>
      </div>
    </div>
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>City:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.city %>
      </div>
    </div>
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>State:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.state %>
      </div>
    </div>
    <div class="row">
      <div class="<%= label_size %> text-right pl-3">
        <p class='font-weight-bold'>Zip Code:</p>
      </div>
      <div class="<%= field_size %> text-left">
        <%= household.zip_code %>
      </div>
    </div>
    <br>
  </div>  
</div>
