<div class="modal fade" id="new_household" tabindex="-1" role="dialog" aria-labelledby="new_household_title" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_household_title">
          <strong>
            Create Household
          </strong>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=''>
        <%= form_for @household,
          id:'new_household' do |f|
          %>
          <div class="modal-body">
            <div class="row">
              <div class="col text-center">
                <h5>Household</h5>
              </div>
              <div class="col text-center">
                <h5>Head of Household</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <%= render 'households/form', f:f %>
                <div class="form-group row">
                  <div class="col pr-5 pl-5">
                    <%= f.password_field :password,
                      placeholder: "Passphrase",
                      class:'form-control form-control-sm',
                      aria:{describedby:"passphraseHelpBlock"}
                      %>
                      <small id='passphraseHelpBlock' class='form-text text-muted'>
                        This passphrase will be used to invite new members to your household.
                      </small>
                  </div>
                </div>
              </div>
                <%= f.fields_for :members, @member do |m| %>
                  <div class="col-6">
                    <%= render 'members/form', f:m %>
                  </div>
                  <%= m.hidden_field :head_of_household,
                    value: true
                    %>
                <% end %>
            </div>
          </div>
      </div>
          <div class="modal-footer">
            <%= f.submit "Create Household",
              class:'btn btn-sm btn-outline-secondary text-dark'
              %>
          </div>
        <% end %>
    </div>
  </div>
</div>
