<div id='admin-control' data-children='.link'>
  <div class='text-center'>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#calendar" aria-expanded="false" aria-controls="calendar">
      Calendar
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#chores" aria-expanded="false" aria-controls="chores">
      Chores
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#bills" aria-expanded="false" aria-controls="bills">
      Bills
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#requests" aria-expanded="false" aria-controls="requests">
      Requests
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#inventory" aria-expanded="false" aria-controls="inventory">
      Inventory
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent='#admin-control' data-toggle="collapse" href="#members" aria-expanded="false" aria-controls="members">
      Members
    </a>
    <a class="btn btn-sm btn-outline-secondary text-dark" data-parent="#admin-control" data-toggle="collapse" href="#household" aria-expanded="false" aria-controls="household">
      Household
    </a>
  </div><br>
  <div class='link'>
    <div class="collapse <%= 'show' unless selected_tab %>" id="calendar">
      <div class="card card-block p-3">
        <span class="card-title">
        </span>
        <%= render 'calendar/show' %>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("chores") %>" id="chores">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Chores
          </u>
          <span class='pb-2'>
            <%= link_to "New",
              new_household_chore_path(current_household),
              data:{toggle:'modal',
                    target:'#new_chore'},
              class:'btn btn-sm btn-outline-secondary text-dark ml-2'
              %>
            <%= render 'chores/new', chore: @chore %>
          </span>
        </span>
        <div id="accordion-chore" data-children=".chore-item">
          <% @chores.scopes.each do |scope, scope_title| %>
            <%= render 'chores/chores',
              {scope_title: scope_title,
                scope: scope,
                chores: @chores.send(scope)}
              %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("bills") %>" id="bills">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Bills
          </u>
          <span class='pb-2'>
            <%= link_to "Add",
              new_household_bill_path(current_household),
              data:{toggle:'modal',
                    target:'#new_bill'},
              class:'btn btn-sm btn-outline-secondary text-dark ml-2'
              %>
            <%= render 'bills/new', bill:@bill %>
          </span>
        </span>
        <div id="accordion_bill" data-children=".bill-item">
          <% Bill.scopes.each do |scope, scope_title| %>
            <%= render 'bills/bills',
              {scope_title:scope_title,
               scope:scope,
               bills:current_household.bills.send(scope)}
              %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("requests") %>" id="requests">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Requests
          </u>
        </span>
        <div id="accordion_request" data-children=".request-item">
          <% @lists.each do |list| %>
            <%= render 'lists/lists', list:list %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("inventory") %>" id="inventory">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Inventory
          </u>
          <span class='pb-2'>
            <%= link_to "Add",
              "add_item",
              data:{toggle:'modal',
                    target:'#add_room_item'},
              class:'btn btn-sm btn-outline-secondary text-dark ml-2'
              %>
          </span>
        </span>
        <%= render 'room_items/add', room_item:@room_item %>
        <div id="accordion_inventory" data-children=".room-item">
          <%= render current_household.rooms.unowned %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("members") %>" id="members">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Members
          </u>
          <span class='pb-2'>
            <%= link_to "New",
              new_household_member_path(current_household),
              data:{toggle:'modal',
                    target:'#new_member'},
              class:'btn btn-sm btn-outline-secondary text-dark ml-2'
              %>
              <%= render 'members/new' %>
          </span>
        </span>
        <div id="accordion_member" data-children=".member-item">
          <%= render current_household.members %>
        </div>
      </div>
    </div>
  </div>
  <div class='link'>
    <div class="collapse <%= show_tab("household") %>" id="household" data-children="room-tab">
      <div class="card card-block p-3">
        <span class="card-title">
          <u class='lg-font'>
            Household
          </u>
          <span class='pb-2'>
            <a class="btn btn-sm btn-outline-secondary text-dark ml-2" data-parent='#household' data-toggle="collapse" href="#rooms" aria-expanded="false" aria-controls="rooms">
              Rooms
            </a>
          </span>
        </span>
        <div class='room-tab pb-2'>
          <div class="collapse border border-left-0 border-right-0 <%= show_scope("rooms") %>"  id='rooms'>
            <div class="card-block p-3">
              <%= render 'rooms/rooms' %>
            </div>
          </div>
        </div>
        <div class='text-muted pl-3'>
          ID#: <%= current_household.id %>
        </div>
        <%= render 'households/edit', household:current_household %>
      </div>
    </div>
  </div>
</div>
